<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <h1>Yhteistyössä:</h1>
    {%- include logot2_image.html -%}

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <h3>Teekkaritorvet ry</h3>
            {%- include social.html -%}
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <h3>Puheenjohtaja</h3>
        {{ site.pj | escape }}
        <li><a class="u-email" href="mailto:{{ site.email_pj }}">{{ site.email_pj }}</a></li>
      </div>

      <div class="footer-col footer-col-3">
        <h3>Myynti</h3>
        {{ site.myynti | escape }}
       <li><a class="u-email" href="mailto:{{ site.email_myynti }}">{{ site.email_myynti }}</a></li>
      </div>
    </div>

  </div>

</footer>
