

<div class="image-container">
  <a href="https://paikallinenpubi.fi/">
    <img src="{{ site.baseurl }}/assets/images/JPP_mainos.png" alt="Joku Paikallinen Pubin mainos">
  </a>
  <a href="https://www.tek.fi/fi">
    <img src="{{ site.baseurl }}/assets/images/TEK_logo.png" alt="Tekniikan Akateemisten logo">
  </a>
  <a href="https://uusipakkahuone.fi/">
    <img src="{{ site.baseurl }}/assets/images/UP_mainos.png" alt="Description for image 2">
  </a>
</div>

<div class="image-container">
  <a href="https://www.oulu.fi/fi/yliopisto/tiedekunnat-ja-yksikot/teknillinen-tiedekunta">
    <img src="{{ site.baseurl }}/assets/images/TTK_FI_logo.png" alt="Description for image 3">
  </a>
  <a href="https://skr.fi/">
    <img src="{{ site.baseurl }}/assets/images/SKR_logo.png" alt="Description for image 3">
  </a>
  <a href="https://www.psoas.fi/">
    <img src="{{ site.baseurl }}/assets/images/PSOAS_logo.png" alt="Description for image 3">
  </a>
  <a href="https://www.oulu.fi/fi/yliopisto/tiedekunnat-ja-yksikot/tieto-ja-sahkotekniikan-tiedekunta">
    <img src="{{ site.baseurl }}/assets/images/ITEE_FI_logo.png" alt="Description for image 3">
  </a>
</div>